<header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Register</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content-->

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
<!--  Form Errors-->
<!--  1. Look for errors-->
<!--  errors variable comes from the newUser.js req.session-->
<% if (errors != null && errors.length >0 ) {%>
  <!-- 2nd List Errors-->
    <ul class="list-group">
      <!-- for loop to go though errors array-->
        <% for(var i = 0; i < errors.length; i++) { %>
            <!-- list-group-item-danger list errors in red -->
          <li class="list-group-item list-group-item-danger">
              <%= errors[i] %>
          </li>
       <% } %>   
    </ul>
<% } %>
<!-- ------------------- -->

<!-- Registration Form -->


     
      <form
        action="/users/register"
        method="POST"
        enctype="multipart/form-data"
      </form>
      
      
        <!-- --------------------------------------------------------------- -->

        <!-- Username -->
        <!-- the values for username & password comes from the newUser.js -->
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>User Name</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="User Name"
              class="form-control"
              value=" <%= username %> "
            />
          </div>
        </div>
        <!-- ------------------------------------------------------- -->

        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label>Password</label>
            <input
              type="password"
              name="password"
              id="password" 
              class="form-control"
              value=" <%= password %>"
            />
          </div>
        </div>
       



        <!-- Submit Button -->
        <div class="form-group my-4 text-center">
          <button class="btn btn-primary"> Register </button>
        </div>
        <!-- ------------------------------------------------------- -->
      </form>
    </div>
  </div>
</div>
